@import "./../settings.scss";
@import "./scss/navbar.scss";
@import "./scss/couverture.scss";
@import "./scss/formulaire.scss";


@font-face {
    font-family: 'lumanosimoregular';
    src: url('./assets/lumanosimo-regular-webfont.woff2') format('woff2'),
         url('./assets/lumanosimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coneria_script_demoregular';
    src: url('assets/demo_coneriascript-webfont.woff2') format('woff2'),
         url('assets/demo_coneriascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'abril_fatfaceregular';
    src: url('assets/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('assets/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yeseva_oneregular';
    src: url('assets/yesevaone-regular-webfont.woff2') format('woff2'),
         url('assets/yesevaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'battoraregular';
    src: url('assets/battora-webfont.woff2') format('woff2'),
         url('assets/battora-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('assets/alfaslabone-regular-webfont.woff2') format('woff2'),
         url('assets/alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreyaregular';
    src: url('assets/alegreya-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/alegreya-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
