@charset "UTF-8";
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("assets/demo_coneriascript-webfont.woff2") format("woff2"), url("assets/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("assets/abrilfatface-regular-webfont.woff2") format("woff2"), url("assets/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("assets/yesevaone-regular-webfont.woff2") format("woff2"), url("assets/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("assets/battora-webfont.woff2") format("woff2"), url("assets/battora-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("assets/alfaslabone-regular-webfont.woff2") format("woff2"), url("assets/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alegreyaregular";
  src: url("assets/alegreya-variablefont_wght-webfont.woff2") format("woff2"), url("assets/alegreya-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: "alegreyaregular";
}

.header {
  background-color: #f2f2f2;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  height: 2.2cm;
  margin: 0;
  padding: 0;
  top: 0vh;
  right: 0cm;
  transition: 1s;
  z-index: 20;
}

ul {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  float: right;
  right: 4vw;
  top: 0.5cm;
}

.header_contain {
  width: 100%;
  height: 10vh;
  position: absolute;
  right: -32rem;
  top: 0.46cm;
  transition: 0.5s;
}
.header_contain ul li a {
  position: relative;
  right: 38vw;
  top: -13px;
  text-decoration: none;
  color: #254E7A;
  font-size: 18.6px;
  padding: 9px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.header_contain ul li a:hover {
  background-color: rgb(244, 191, 17);
  color: black;
  border-radius: 8px;
}
.header_contain ul li a #search {
  color: #254E7A;
}
.header_contain ul li a #search:hover {
  color: black;
}

li {
  margin: 4.5px;
}

#search {
  color: rgb(0, 0, 0);
}

header ul li .a1 {
  border: 0px solid;
  background-color: #27749e;
  color: black;
  border-radius: 8px;
  padding: 7px;
}

#search:hover {
  color: black;
}

.logo {
  position: absolute;
  left: 8vw;
  font-size: 31px;
  top: 1.5rem;
  color: #113f70;
  font-family: "yeseva_oneregular";
}
.logo span {
  color: #072b51;
  font-family: "yeseva_oneregular";
}
.logo img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -1.2rem;
  margin-left: -5rem;
}

.icone_menu i {
  color: rgb(3, 19, 84);
  font-size: 33px;
  display: none;
  cursor: pointer;
  border: 2px solid rgb(4, 7, 108);
  padding: 7px;
  border-radius: 50%;
}
.icone_menu i:hover {
  background-color: rgb(138, 117, 0);
  color: black;
}

.contact {
  border: 1.5px solid #113f70;
  border-radius: 8px;
  padding: 6px;
  font-size: 42px;
  margin-left: 2rem;
}

.up- {
  width: 70px;
  height: 40px;
  position: fixed;
  top: 350em;
  right: -325em;
}

.border_princ {
  width: 3px;
  height: 207rem;
  position: absolute;
  left: 27vw;
  top: 65rem;
  background-color: #697278;
}
.up{
  cursor: pointer;
}


@media screen and (min-width: 1024px) {
  .up {
    width: 52px;
    height: 52px;
    position: fixed;
    top: 85vh;
    z-index: 22;
    right: 1.8vw;
  }
  #map {
    width: 32vw;
    position: absolute;
    left: 65vw;
    height: 31rem;
    border-radius: 15px;
    top: 12rem;
    z-index: 20;
    border: 2px solid;
  }
  .ouest_couverture .couverture_ouest {
    position: relative;
    top: 8rem;
    left: -13.9vw;
  }
  .ouest_couverture .couverture_ouest img {
    width: 55.8vw;
    height: 27rem;
    border-radius: 5px;
  }
  .ouest_couverture .couverture {
    font-size: 35px;
    position: absolute;
    top: 5rem;
    left: -11.5vw;
    font-weight: 300;
    width: 70vw;
    font-family: "yeseva_oneregular";
    color: #29353e;
    z-index: 20;
  }
  .detail {
    width: 83.6vw;
    height: 7rem;
    position: absolute;
    left: 7.2vw;
    top: 42rem;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 3px;
  }
  .description_ouest {
    position: absolute;
    left: 6vw;
    top: 45rem;
    font-size: 19px;
    text-align: center;
    width: 60vw;
  }
  .detail_date {
    position: relative;
    top: 9.8rem;
    left: -39.9vw;
    color: blue;
  }
  .detail_date i {
    font-size: 25px;
  }
  .detail_date h3 {
    font-size: 23px;
    margin-top: -1.4rem;
    margin-left: 15rem;
  }
  .detail_trajet {
    position: relative;
    top: 6.64rem;
    left: -15.5vw;
    color: blue;
  }
  .detail_trajet i {
    font-size: 25px;
  }
  .detail_trajet h3 {
    font-size: 23px;
    margin-top: -1.4rem;
    margin-left: 20.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .Ambatolampy {
    position: relative;
    top: 24rem;
    left: 4vw;
    width: 50vw;
    height: 17.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Ambatolampy .legende-ambatolampy {
    margin-left: 0vw;
  }
  .Ambatolampy .legende-ambatolampy h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 23px;
    position: absolute;
    top: 1rem;
    left: 2vw;
    font-weight: 800;
    width: 50vw;
  }
  .Ambatolampy .legende-ambatolampy i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Ambatolampy .desc_Ambatolampy {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Ambatolampy img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -16rem;
    border-radius: 5px;
  }
  .border1 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 68rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1025px) {
  .Gare {
    display: block;
    border-radius: 6.5px;
    width: 47vw;
    height: 14rem;
    position: absolute;
    left: 49vw;
    top: 87rem;
    background-color: rgb(233, 232, 232);
  }
  .Gare .legende-gare {
    position: relative;
    top: 0rem;
  }
  .Gare .legende-gare h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -2.4vw;
    font-weight: 800;
    width: 50vw;
  }
  .Gare .legende-gare i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Gare .desc_Gare {
    width: 44vw;
    position: absolute;
    top: 4rem;
    font-size: 18.5px;
    left: 1.4vw;
  }
  .Gare img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: -46.5vw;
    top: -6rem;
    border-radius: 5px;
  }
  .border2 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 35vw;
    top: 94.6rem;
    background-color: #697278;
  }
  .Therme {
    position: relative;
    top: 59rem;
    left: 4vw;
    width: 50vw;
    height: 21rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Therme .legende-therme {
    margin-left: 0vw;
  }
  .Therme .legende-therme h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -4vw;
    font-weight: 800;
    width: 50vw;
  }
  .Therme .legende-therme i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Therme .desc_Therme {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Therme img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -19.5rem;
    border-radius: 5px;
  }
  .border3 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 122rem;
    background-color: #697278;
  }
  .Marché {
    display: block;
    border-radius: 6.5px;
    width: 47vw;
    height: 22rem;
    position: absolute;
    left: 49vw;
    top: 143.5rem;
    background-color: rgb(233, 232, 232);
  }
  .Marché .legende-marché {
    position: relative;
    top: 0rem;
  }
  .Marché .legende-marché h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -4.4vw;
    font-weight: 800;
    width: 50vw;
  }
  .Marché .legende-marché i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Marché .desc_Marché {
    width: 44vw;
    position: absolute;
    top: 4rem;
    font-size: 18.5px;
    left: 1.4vw;
  }
  .Marché img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: -46.5vw;
    top: -2.5rem;
    border-radius: 5px;
  }
  .border4 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 35vw;
    top: 154.6rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1025px) {
  .Andraikiba {
    position: relative;
    top: 102rem;
    left: 4vw;
    width: 50vw;
    height: 16rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Andraikiba .legende-andraikiba {
    margin-left: 0vw;
  }
  .Andraikiba .legende-andraikiba h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -9.5vw;
    font-weight: 800;
    width: 50vw;
  }
  .Andraikiba .legende-andraikiba i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Andraikiba .desc_Andraikiba {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Andraikiba img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -16rem;
    border-radius: 5px;
  }
  .border5 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 184.5rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 280px) and (max-width: 763px) {
  #map {
    width: 86vw;
    position: absolute;
    left: 6vw;
    height: 27rem;
    border-radius: 15px;
    top: 565rem;
    z-index: 20;
    border: 2px solid;
  }
  .up {
    width: 42px;
    height: 42px;
    position: fixed;
    top: 88vh;
    z-index: 22;
    right: 3.8vw;
  }
  .header {
    position: fixed;
    top: 0;
    width: 99.9vw;
    left: 0;
  }
  .logo {
    font-size: 27px;
    left: 17vw;
    top: 0.8cm;
  }
  .logo img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -0.5rem;
    margin-left: -3.5rem;
  }
  .header_contain {
    width: 100vw;
    height: 0rem;
    position: absolute;
    left: 0rem;
    top: 5.2rem;
    background-color: rgb(22, 98, 211);
    transition: 0.3s;
  }
  .header_contain ul {
    display: block;
    position: absolute;
    left: 35vw;
    top: -25rem;
    width: 65vw;
  }
  .header_contain ul li {
    margin-top: 22px;
  }
  .header_contain ul li a {
    color: #241b1b;
    font-size: 19px;
    padding: -25px;
    width: -5rem;
    position: relative;
    right: 19vw;
    width: 70vw;
  }
  .header_contain ul li .a1 {
    background-color: antiquewhite;
  }
  .header_contain ul .contact {
    border: 1.5px solid #113f70;
    border-radius: 8px;
    padding: 7px;
    font-size: 20.4px;
    margin-left: 0rem;
  }
  .header_contain ul i {
    color: #000000;
  }
  .icone_menu i {
    position: relative;
    float: right;
    display: flex;
    top: 1.3rem;
    right: 4vw;
    z-index: 6;
    font-size: 25px;
    border-radius: 30%;
  }
  .hideshow {
    height: 24.5rem;
  }
  .h2 {
    transform: translateY(28rem);
    position: absolute;
    top: 2.6rem;
    transition: 0.06s;
  }
  .ouest_couverture .couverture_ouest {
    position: relative;
    top: 12rem;
    left: 0.4vw;
  }
  .ouest_couverture .couverture_ouest img {
    width: 93.5vw;
    height: 24rem;
    border-radius: 5px;
  }
  .ouest_couverture .couverture {
    font-size: 25.4px;
    position: absolute;
    top: 5rem;
    left: 7vw;
    font-weight: 300;
    width: 85vw;
    font-family: "yeseva_oneregular";
    color: #29353e;
    z-index: 20;
  }
  .ouest_couverture .detail {
    width: 83.6vw;
    height: 7rem;
    position: absolute;
    left: 7.2vw;
    top: 42rem;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 3px;
  }
  .ouest_couverture .description_ouest {
    position: absolute;
    left: 4.4vw;
    top: 46rem;
    font-size: 19.4px;
    text-align: center;
    width: 90.5vw;
  }
  .ouest_couverture .detail_date {
    position: relative;
    top: 9.8rem;
    left: -39.9vw;
    color: blue;
  }
  .ouest_couverture .detail_date i {
    font-size: 25px;
  }
  .ouest_couverture .detail_date h3 {
    font-size: 20px;
    margin-top: -1.4rem;
    margin-left: 43vw;
    width: 70vw;
  }
  .ouest_couverture .detail_trajet {
    position: relative;
    top: 10.64rem;
    left: -39.5vw;
    color: blue;
  }
  .ouest_couverture .detail_trajet i {
    font-size: 25px;
  }
  .ouest_couverture .detail_trajet h3 {
    font-size: 20px;
    margin-top: -1.4rem;
    margin-left: 52vw;
    width: 70vw;
  }
  .Ambatolampy {
    position: relative;
    top: 29rem;
    left: 4vw;
    width: 88vw;
    height: 29rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Ambatolampy .legende-ambatolampy {
    margin-left: 0vw;
  }
  .Ambatolampy .legende-ambatolampy h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 19px;
    position: absolute;
    top: 1.3rem;
    left: 22vw;
    font-weight: 800;
    width: 50vw;
  }
  .Ambatolampy .legende-ambatolampy i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -27vw;
    margin-top: 1.6rem;
  }
  .Ambatolampy .desc_Ambatolampy {
    width: 83.6vw;
    position: relative;
    top: 2.2rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Ambatolampy img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 9.9rem;
    border-radius: 5px;
  }
  .Gare {
    position: relative;
    top: 63.6rem;
    left: 4vw;
    width: 88vw;
    height: 19.7rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Gare .legende-gare {
    margin-left: 0vw;
  }
  .Gare .legende-gare h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 20px;
    position: absolute;
    top: 1.3rem;
    left: 12vw;
    font-weight: 800;
    width: 80vw;
  }
  .Gare .legende-gare i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -29vw;
    margin-top: 1.6rem;
  }
  .Gare .desc_Gare {
    width: 83.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Gare img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Therme {
    position: relative;
    top: 99rem;
    left: 4vw;
    width: 88vw;
    height: 30.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Therme .legende-therme {
    margin-left: 0vw;
  }
  .Therme .legende-therme h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 20px;
    position: absolute;
    top: 1.3rem;
    left: 13vw;
    font-weight: 800;
    width: 80vw;
  }
  .Therme .legende-therme i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -27vw;
    margin-top: 1.6rem;
  }
  .Therme .desc_Therme {
    width: 83.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Therme img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Marché {
    position: relative;
    top: 135rem;
    left: 4vw;
    width: 88vw;
    height: 34rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Marché .legende-marché {
    margin-left: 0vw;
  }
  .Marché .legende-marché h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 20px;
    position: absolute;
    top: 1.3rem;
    left: 19vw;
    font-weight: 800;
    width: 70vw;
  }
  .Marché .legende-marché i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -23vw;
    margin-top: 1.6rem;
  }
  .Marché .desc_Marché {
    width: 83.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Marché img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Andraikiba {
    position: relative;
    top: 172rem;
    left: 4vw;
    width: 88vw;
    height: 22.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Andraikiba .legende-andraikiba {
    margin-left: 0vw;
  }
  .Andraikiba .legende-andraikiba h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 20px;
    position: absolute;
    top: 1.3rem;
    left: 22vw;
    font-weight: 800;
    width: 50vw;
  }
  .Andraikiba .legende-andraikiba i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -27vw;
    margin-top: 1.6rem;
  }
  .Andraikiba .desc_Andraikiba {
    width: 83.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Andraikiba img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Tritriva {
    position: relative;
    top: 210rem;
    left: 4vw;
    width: 88vw;
    height: 21rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Tritriva .legende-tritriva {
    margin-left: 0vw;
  }
  .Tritriva .legende-tritriva h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 20px;
    position: absolute;
    top: 1.3rem;
    left: 22vw;
    font-weight: 800;
    width: 50vw;
  }
  .Tritriva .legende-tritriva i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -27vw;
    margin-top: 1.6rem;
  }
  .Tritriva .desc_Tritriva {
    width: 83.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Tritriva img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Miandrivazo {
    position: relative;
    top: 248rem;
    left: 4vw;
    width: 88vw;
    height: 29rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Miandrivazo .legende-miandrivazo {
    margin-left: 0vw;
  }
  .Miandrivazo .legende-miandrivazo h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 20px;
    position: absolute;
    top: 1.3rem;
    left: 22vw;
    font-weight: 800;
    width: 50vw;
  }
  .Miandrivazo .legende-miandrivazo i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -27vw;
    margin-top: 1.6rem;
  }
  .Miandrivazo .desc_Miandrivazo {
    width: 83.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Miandrivazo img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Morondava {
    position: relative;
    top: 283.5rem;
    left: 4vw;
    width: 88vw;
    height: 29rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Morondava .legende-morondava {
    margin-left: 0vw;
  }
  .Morondava .legende-morondava h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 20px;
    position: absolute;
    top: 1.3rem;
    left: 22vw;
    font-weight: 800;
    width: 50vw;
  }
  .Morondava .legende-morondava i {
    font-size: 36.4px;
    color: #ca0404;
    margin-left: -27vw;
    margin-top: 1.6rem;
  }
  .Morondava .desc_Morondava {
    width: 83.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Morondava img {
    width: 75vw;
    height: 18rem;
    position: relative;
    left: -0.7vw;
    top: 8rem;
    border-radius: 5px;
  }
  footer {
    width: 99.5vw;
    height: 65rem;
    position: absolute;
    left: 0vw;
    top: 565rem;
    background-color: rgb(222, 216, 216);
  }
  footer .logo {
    width: 150px;
    height: 70px;
    position: absolute;
    top: 3rem;
    left: 27vw;
  }
  footer .info {
    position: absolute;
    top: 15rem;
    left: 54vw;
  }
  footer .info h1 {
    font-size: 25px;
    position: absolute;
    top: -4rem;
    left: -9rem;
    font-weight: 500;
    width: 70vw;
    color: rgb(4, 82, 137);
  }
  footer .info .phone {
    position: absolute;
    top: 0rem;
    left: 0;
  }
  footer .info .phone img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -44vw;
  }
  footer .info .phone p {
    font-size: 18px;
    position: relative;
    left: -38vw;
    top: -1rem;
    width: 35vw;
  }
  footer .email {
    position: absolute;
    top: 3.6rem;
    left: 0;
  }
  footer .email img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -45vw;
  }
  footer .email p {
    font-size: 18px;
    position: relative;
    left: -36vw;
    top: -1rem;
    width: 35vw;
  }
  footer .circ {
    position: absolute;
    left: 3vw;
    top: 27.1rem;
    display: block;
  }
  footer .circ h1 {
    font-size: 25px;
    position: absolute;
    top: -4rem;
    left: -9rem;
    font-weight: 500;
    width: 114vw;
    color: rgb(4, 82, 137);
  }
  footer .circ h3 {
    font-size: 19px;
    position: relative;
    top: -1.7rem;
    margin-top: 2rem;
    left: 9vw;
  }
  footer .raccourci {
    position: absolute;
    left: 47vw;
    top: 26.8rem;
    display: block;
  }
  footer .raccourci h1 {
    font-size: 28px;
    position: absolute;
    top: -4rem;
    left: 4vw;
    font-weight: 500;
    width: 41vw;
    color: rgb(4, 82, 137);
  }
  footer .raccourci h3 {
    font-size: 19px;
    position: relative;
    top: -1.7rem;
    margin-top: 2rem;
    left: 6vw;
  }
  footer .reference {
    position: absolute;
    left: 20vw;
    top: 44.8rem;
  }
  footer .reference h1 {
    font-size: 27px;
    position: absolute;
    top: -4rem;
    left: -16vw;
    font-weight: 500;
    width: 90vw;
    color: rgb(4, 82, 137);
  }
  footer .reference p {
    width: 69vw;
    font-size: 18px;
    position: absolute;
    left: -6vw;
  }
  footer .border_ {
    width: 45%;
    height: 2px;
    position: absolute;
    left: 29vw;
    top: 53rem;
    background-color: rgb(4, 82, 137);
  }
  footer .icones {
    position: absolute;
    top: 61rem;
    display: flex;
    left: 7.3%;
    text-align: center;
  }
  footer .icones img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 1rem;
  }
  footer .copright {
    font-size: 21px;
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 800;
    top: 55rem;
    left: 5%;
    width: 90vw;
  }
  footer {
    width: 99.5vw;
    height: 65rem;
    position: absolute;
    left: 0vw;
    top: 600rem;
    background-color: rgb(222, 216, 216);
  }
  footer .logo {
    width: 150px;
    height: 70px;
    position: absolute;
    top: 3rem;
    left: 27vw;
  }
  footer .info {
    position: absolute;
    top: 15rem;
    left: 54vw;
  }
  footer .info h1 {
    font-size: 25px;
    position: absolute;
    top: -4rem;
    left: -9rem;
    font-weight: 500;
    width: 70vw;
    color: rgb(4, 82, 137);
  }
  footer .info .phone {
    position: absolute;
    top: 0rem;
    left: 0;
  }
  footer .info .phone img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -44vw;
  }
  footer .info .phone p {
    font-size: 18px;
    position: relative;
    left: -38vw;
    top: -1rem;
    width: 35vw;
  }
  footer .email {
    position: absolute;
    top: 3.6rem;
    left: 0;
  }
  footer .email img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -45vw;
  }
  footer .email p {
    font-size: 18px;
    position: relative;
    left: -36vw;
    top: -1rem;
    width: 35vw;
  }
  footer .circ {
    position: absolute;
    left: 3vw;
    top: 27.1rem;
    display: block;
  }
  footer .circ h1 {
    font-size: 25px;
    position: absolute;
    top: -4rem;
    left: -9rem;
    font-weight: 500;
    width: 114vw;
    color: rgb(4, 82, 137);
  }
  footer .circ h3 {
    font-size: 19px;
    position: relative;
    top: -1.7rem;
    margin-top: 2rem;
    left: 9vw;
  }
  footer .raccourci {
    position: absolute;
    left: 47vw;
    top: 26.8rem;
    display: block;
  }
  footer .raccourci h1 {
    font-size: 28px;
    position: absolute;
    top: -4rem;
    left: 4vw;
    font-weight: 500;
    width: 41vw;
    color: rgb(4, 82, 137);
  }
  footer .raccourci h3 {
    font-size: 19px;
    position: relative;
    top: -1.7rem;
    margin-top: 2rem;
    left: 6vw;
  }
  footer .reference {
    position: absolute;
    left: 20vw;
    top: 44.8rem;
  }
  footer .reference h1 {
    font-size: 27px;
    position: absolute;
    top: -4rem;
    left: -16vw;
    font-weight: 500;
    width: 90vw;
    color: rgb(4, 82, 137);
  }
  footer .reference p {
    width: 69vw;
    font-size: 18px;
    position: absolute;
    left: -6vw;
  }
  footer .border_ {
    width: 45%;
    height: 2px;
    position: absolute;
    left: 29vw;
    top: 53rem;
    background-color: rgb(4, 82, 137);
  }
  footer .icones {
    position: absolute;
    top: 61rem;
    display: flex;
    left: 7.3%;
    text-align: center;
  }
  footer .icones img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 1rem;
  }
  footer .copright {
    font-size: 21px;
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 800;
    top: 55rem;
    left: 5%;
    width: 90vw;
  }
  .up {
    width: 42px;
    height: 42px;
    position: fixed;
    top: 88vh;
    z-index: 22;
    right: 3.8vw;
  }
  .border_princ {
    width: 3px;
    height: 480rem;
    position: absolute;
    left: 48vw;
    top: 70rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .up {
    width: 42px;
    height: 42px;
    position: fixed;
    top: 90vh;
    z-index: 22;
    right: 4.7vw;
  }
  #map {
    width: 87vw;
    position: absolute;
    left: 6vw;
    height: 31rem;
    border-radius: 15px;
    top: 495rem;
    z-index: 20;
    border: 2px solid;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
  }
  .logo {
    font-size: 27px;
    left: 9.6vw;
    top: 0.8cm;
  }
  .logo img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -0.5rem;
    margin-left: -3.5rem;
  }
  .header_contain {
    width: 100%;
    height: 24.5rem;
    position: absolute;
    left: 0rem;
    top: 5.2rem;
    background-color: rgb(22, 98, 211);
    transform: translateY(-100rem);
    transition: 0.3s;
  }
  .header_contain ul {
    display: block;
    position: absolute;
    left: 32vw;
    top: 2.6rem;
    width: 58vw;
  }
  .header_contain ul li {
    margin-top: 22px;
  }
  .header_contain ul li a {
    color: #000;
    font-size: 19px;
    padding: -25px;
    width: -5rem;
    position: relative;
    right: 5rem;
  }
  .header_contain ul li .a1 {
    background-color: antiquewhite;
  }
  .header_contain ul .contact {
    border: 1.5px solid #113f70;
    border-radius: 8px;
    padding: 7px;
    font-size: 20.4px;
    margin-left: 0rem;
  }
  .header_contain ul i {
    color: rgb(0, 0, 0);
  }
  .icone_menu i {
    position: relative;
    float: right;
    display: flex;
    top: 1rem;
    right: 4vw;
    z-index: 6;
    font-size: 25px;
    border-radius: 30%;
  }
  .hideshow {
    transform: translateY(0rem);
  }
  .dire {
    display: block;
  }
  .ouest_couverture .couverture_ouest {
    position: relative;
    top: 12rem;
    left: 0vw;
  }
  .ouest_couverture .couverture_ouest img {
    width: 93.1vw;
    height: 29rem;
    border-radius: 5px;
  }
  .ouest_couverture .couverture {
    font-size: 32.4px;
    position: absolute;
    top: 5rem;
    left: 12.5vw;
    font-weight: 300;
    width: 75vw;
    font-family: "yeseva_oneregular";
    color: #29353e;
    z-index: 20;
  }
  .ouest_couverture .detail {
    width: 83.6vw;
    height: 7rem;
    position: absolute;
    left: 7.2vw;
    top: 42rem;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 3px;
  }
  .ouest_couverture .description_ouest {
    position: absolute;
    left: 6vw;
    top: 52.5rem;
    font-size: 19.4px;
    text-align: center;
    width: 88vw;
  }
  .ouest_couverture .detail_date {
    position: relative;
    top: 9.8rem;
    left: -18.9vw;
    color: blue;
  }
  .ouest_couverture .detail_date i {
    font-size: 25px;
  }
  .ouest_couverture .detail_date h3 {
    font-size: 23px;
    margin-top: -1.4rem;
    margin-left: 30.5vw;
    width: 70vw;
  }
  .ouest_couverture .detail_trajet {
    position: relative;
    top: 10.64rem;
    left: -18.8vw;
    color: blue;
  }
  .ouest_couverture .detail_trajet i {
    font-size: 25px;
  }
  .ouest_couverture .detail_trajet h3 {
    font-size: 22px;
    margin-top: -1.4rem;
    margin-left: 35vw;
    width: 70vw;
  }
  .Ambatolampy {
    position: relative;
    top: 27rem;
    left: 16vw;
    width: 68vw;
    height: 18rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Ambatolampy .legende-ambatolampy {
    margin-left: 0vw;
  }
  .Ambatolampy .legende-ambatolampy h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 2vw;
    font-weight: 800;
    width: 70vw;
  }
  .Ambatolampy .legende-ambatolampy i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -29.7vw;
    margin-top: 1.6rem;
  }
  .Ambatolampy .desc_Ambatolampy {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Ambatolampy img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Gare {
    position: relative;
    top: 61.5rem;
    left: 16vw;
    width: 68vw;
    height: 14rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Gare .legende-gare {
    margin-left: 0vw;
  }
  .Gare .legende-gare h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 2vw;
    font-weight: 800;
    width: 70vw;
  }
  .Gare .legende-gare i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -16.7vw;
    margin-top: 1.6rem;
  }
  .Gare .desc_Gare {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Gare img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Therme {
    position: relative;
    top: 95.5rem;
    left: 16vw;
    width: 68vw;
    height: 22.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Therme .legende-therme {
    margin-left: 0vw;
  }
  .Therme .legende-therme h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 2vw;
    font-weight: 800;
    width: 70vw;
  }
  .Therme .legende-therme i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Therme .desc_Therme {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Therme img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Marché {
    position: relative;
    top: 131.5rem;
    left: 16vw;
    width: 68vw;
    height: 23rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Marché .legende-marché {
    margin-left: 0vw;
  }
  .Marché .legende-marché h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 2vw;
    font-weight: 800;
    width: 70vw;
  }
  .Marché .legende-marché i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -13vw;
    margin-top: 1.6rem;
  }
  .Marché .desc_Marché {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Marché img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Andraikiba {
    position: relative;
    top: 167.5rem;
    left: 16vw;
    width: 68vw;
    height: 15.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Andraikiba .legende-andraikiba {
    margin-left: 0vw;
  }
  .Andraikiba .legende-andraikiba h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 1vw;
    font-weight: 800;
    width: 70vw;
  }
  .Andraikiba .legende-andraikiba i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -10.7vw;
    margin-top: 1.6rem;
  }
  .Andraikiba .desc_Andraikiba {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Andraikiba img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Tritriva {
    position: relative;
    top: 204.5rem;
    left: 16vw;
    width: 68vw;
    height: 15.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Tritriva .legende-tritriva {
    margin-left: 0vw;
  }
  .Tritriva .legende-tritriva h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 0vw;
    font-weight: 800;
    width: 70vw;
  }
  .Tritriva .legende-tritriva i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -8.7vw;
    margin-top: 1.6rem;
  }
  .Tritriva .desc_Tritriva {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Tritriva img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Miandrivazo {
    position: relative;
    top: 240.5rem;
    left: 16vw;
    width: 68vw;
    height: 19.2rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Miandrivazo .legende-miandrivazo {
    margin-left: 0vw;
  }
  .Miandrivazo .legende-miandrivazo h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 0vw;
    font-weight: 800;
    width: 70vw;
  }
  .Miandrivazo .legende-miandrivazo i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -12.7vw;
    margin-top: 1.6rem;
  }
  .Miandrivazo .desc_Miandrivazo {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Miandrivazo img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  .Morondava {
    position: relative;
    top: 278.5rem;
    left: 16vw;
    width: 68vw;
    height: 19.2rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Morondava .legende-morondava {
    margin-left: 0vw;
  }
  .Morondava .legende-morondava h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 21.5px;
    position: absolute;
    top: 1rem;
    left: 0vw;
    font-weight: 800;
    width: 70vw;
  }
  .Morondava .legende-morondava i {
    font-size: 32.4px;
    color: #ca0404;
    margin-left: -12.7vw;
    margin-top: 1.6rem;
  }
  .Morondava .desc_Morondava {
    width: 63.6vw;
    position: relative;
    top: -0.5rem;
    font-size: 18px;
    left: 2.2vw;
  }
  .Morondava img {
    width: 50vw;
    height: 17rem;
    position: relative;
    left: -1.8vw;
    top: 8rem;
    border-radius: 5px;
  }
  footer {
    width: 100vw;
    height: 65rem;
    position: absolute;
    left: 0vw;
    top: 535rem;
    background-color: rgb(222, 216, 216);
  }
  footer .logo {
    width: 180px;
    height: 85px;
    position: absolute;
    top: 3rem;
    left: 35vw;
  }
  footer .info {
    position: absolute;
    top: 15rem;
    left: 58vw;
  }
  footer .info h1 {
    font-size: 25px;
    position: absolute;
    top: -4rem;
    left: -35vw;
    font-weight: 500;
    width: 47vw;
    color: rgb(4, 82, 137);
  }
  footer .info .phone {
    position: absolute;
    top: 0rem;
    left: 0;
  }
  footer .info .phone img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25vw;
  }
  footer .info .phone p {
    font-size: 18px;
    position: relative;
    left: -30vw;
    top: -1rem;
    width: 35vw;
  }
  footer .email {
    position: absolute;
    top: 3.6rem;
    left: 0;
  }
  footer .email img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25vw;
  }
  footer .email p {
    font-size: 18px;
    position: relative;
    left: -20vw;
    top: -1rem;
    width: 35vw;
  }
  footer .circ {
    position: absolute;
    left: 17vw;
    top: 27.1rem;
    display: block;
  }
  footer .circ h1 {
    font-size: 25px;
    position: absolute;
    top: -4rem;
    left: -45vw;
    font-weight: 500;
    width: 114vw;
    color: rgb(4, 82, 137);
  }
  footer .circ h3 {
    font-size: 19px;
    position: relative;
    top: -1.7rem;
    margin-top: 2rem;
    left: 8vw;
  }
  footer .raccourci {
    position: absolute;
    left: 47vw;
    top: 26.8rem;
    display: block;
  }
  footer .raccourci h1 {
    font-size: 28px;
    position: absolute;
    top: -4rem;
    left: -3vw;
    font-weight: 500;
    width: 41vw;
    color: rgb(4, 82, 137);
  }
  footer .raccourci h3 {
    font-size: 19px;
    position: relative;
    top: -1.7rem;
    margin-top: 2rem;
    left: 10vw;
  }
  footer .reference {
    position: absolute;
    left: 20vw;
    top: 44.8rem;
  }
  footer .reference h1 {
    font-size: 27px;
    position: absolute;
    top: -4rem;
    left: -16vw;
    font-weight: 500;
    width: 90vw;
    color: rgb(4, 82, 137);
  }
  footer .reference p {
    width: 69vw;
    font-size: 18px;
    position: absolute;
    left: -6vw;
  }
  footer .border_ {
    width: 45%;
    height: 2px;
    position: absolute;
    left: 29vw;
    top: 53rem;
    background-color: rgb(4, 82, 137);
  }
  footer .icones {
    position: absolute;
    top: 61rem;
    display: flex;
    left: 30vw;
    text-align: center;
  }
  footer .icones img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 1rem;
  }
  footer .copright {
    font-size: 21px;
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 800;
    top: 55rem;
    left: 5%;
    width: 90vw;
  }
  .border_princ {
    width: 3px;
    height: 395rem;
    position: absolute;
    left: 48vw;
    top: 82rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1024px) {
  .Tritriva {
    display: block;
    border-radius: 6.5px;
    width: 47vw;
    height: 15rem;
    position: absolute;
    left: 49vw;
    top: 203.5rem;
    background-color: rgb(233, 232, 232);
  }
  .Tritriva .legende-tritriva {
    position: relative;
    top: 0rem;
  }
  .Tritriva .legende-tritriva h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -10vw;
    font-weight: 800;
    width: 50vw;
  }
  .Tritriva .legende-tritriva i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Tritriva .desc_Tritriva {
    width: 44vw;
    position: absolute;
    top: 4rem;
    font-size: 18.5px;
    left: 1.4vw;
  }
  .Tritriva img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: -46.5vw;
    top: -5.5rem;
    border-radius: 5px;
  }
  .border6 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 35vw;
    top: 211.6rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1025px) {
  .Miandrivazo {
    position: relative;
    top: 142rem;
    left: 4vw;
    width: 50vw;
    height: 18.5rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
  }
  .Miandrivazo .legende-miandrivazo {
    margin-left: 0vw;
  }
  .Miandrivazo .legende-miandrivazo h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -9.5vw;
    font-weight: 800;
    width: 50vw;
  }
  .Miandrivazo .legende-miandrivazo i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -19vw;
    margin-top: 1.6rem;
  }
  .Miandrivazo .desc_Miandrivazo {
    width: 45vw;
    position: relative;
    top: -0.5rem;
    font-size: 18.5px;
    left: 2.2vw;
  }
  .Miandrivazo img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: 48.5vw;
    top: -16rem;
    border-radius: 5px;
  }
  .border7 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 50vw;
    top: 184.5rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1023px) and (min-width: 1024px) {
  .Morondava {
    display: block;
    border-radius: 6.5px;
    width: 47vw;
    height: 19rem;
    position: absolute;
    left: 49vw;
    top: 263.5rem;
    background-color: rgb(233, 232, 232);
  }
  .Morondava .legende-morondava {
    position: relative;
    top: 0rem;
  }
  .Morondava .legende-morondava h1 {
    color: #ca0404;
    font-family: "lumanosimoregular";
    font-size: 27px;
    position: absolute;
    top: 1rem;
    left: -8vw;
    font-weight: 800;
    width: 50vw;
  }
  .Morondava .legende-morondava i {
    font-size: 38.4px;
    color: #ca0404;
    margin-left: -15vw;
    margin-top: 1.6rem;
  }
  .Morondava .desc_Morondava {
    width: 44vw;
    position: absolute;
    top: 4rem;
    font-size: 18.5px;
    left: 1.4vw;
  }
  .Morondava img {
    width: 33vw;
    height: 18rem;
    position: relative;
    left: -46.5vw;
    top: -5.5rem;
    border-radius: 5px;
  }
  .border8 {
    width: 20vw;
    height: 3px;
    position: absolute;
    left: 35vw;
    top: 271.6rem;
    background-color: #697278;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    width: 98.85vw;
    height: 37rem;
    position: absolute;
    left: 0;
    top: 288rem;
    background-color: rgb(222, 216, 216);
  }
  footer .logo {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 3rem;
    left: 40vw;
  }
  footer .info {
    position: absolute;
    top: 15rem;
    left: 5rem;
  }
  footer .info h1 {
    font-size: 28px;
    position: absolute;
    top: -4rem;
    left: -6.7rem;
    font-weight: 500;
    width: 35vw;
    color: rgb(4, 82, 137);
  }
  footer .info .phone {
    position: absolute;
    top: 0rem;
    left: 0;
  }
  footer .info .phone img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
  footer .info .phone p {
    font-size: 18px;
    position: relative;
    left: -7rem;
    top: 0;
    width: 35vw;
  }
  footer .email {
    position: absolute;
    top: 1.9rem;
    left: 0;
  }
  footer .email img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
  footer .email p {
    font-size: 18px;
    position: relative;
    left: -2rem;
    top: 0;
    width: 35vw;
  }
  footer .circ {
    position: absolute;
    left: 30rem;
    top: 14.8rem;
    display: block;
  }
  footer .circ h1 {
    font-size: 28px;
    position: absolute;
    top: -4rem;
    left: -9rem;
    font-weight: 500;
    width: 35vw;
    color: rgb(4, 82, 137);
  }
  footer .circ h3 {
    font-size: 19px;
    position: relative;
    top: 0rem;
    margin-top: 0;
    left: -1.5rem;
  }
  footer .raccourci {
    position: absolute;
    left: 47rem;
    top: 14.8rem;
    display: block;
  }
  footer .raccourci h1 {
    font-size: 28px;
    position: absolute;
    top: -4rem;
    left: -9rem;
    font-weight: 500;
    width: 35vw;
    color: rgb(4, 82, 137);
  }
  footer .raccourci h3 {
    font-size: 19px;
    position: relative;
    top: 0rem;
    margin-top: 0;
    left: -1.4rem;
  }
  footer .reference {
    position: absolute;
    left: 70.5rem;
    top: 14.8rem;
  }
  footer .reference h1 {
    font-size: 27px;
    position: absolute;
    top: -4rem;
    left: -11rem;
    font-weight: 500;
    width: 25vw;
    color: rgb(4, 82, 137);
  }
  footer .reference p {
    width: 19vw;
    font-size: 18px;
    position: absolute;
    left: -8.7rem;
  }
  footer .border_ {
    width: 74%;
    height: 2px;
    position: absolute;
    left: 11rem;
    top: 28.9rem;
    background-color: rgb(4, 82, 137);
  }
  footer .icones {
    position: absolute;
    top: 33rem;
    display: flex;
    left: 33vw;
    text-align: center;
  }
  footer .icones img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 2rem;
  }
  footer .copright {
    font-size: 21px;
    position: absolute;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 800;
    top: 29rem;
    left: 25vw;
  }
}
@font-face {
  font-family: "lumanosimoregular";
  src: url("./assets/lumanosimo-regular-webfont.woff2") format("woff2"), url("./assets/lumanosimo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coneria_script_demoregular";
  src: url("assets/demo_coneriascript-webfont.woff2") format("woff2"), url("assets/demo_coneriascript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril_fatfaceregular";
  src: url("assets/abrilfatface-regular-webfont.woff2") format("woff2"), url("assets/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yeseva_oneregular";
  src: url("assets/yesevaone-regular-webfont.woff2") format("woff2"), url("assets/yesevaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "battoraregular";
  src: url("assets/battora-webfont.woff2") format("woff2"), url("assets/battora-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alfa_slab_oneregular";
  src: url("assets/alfaslabone-regular-webfont.woff2") format("woff2"), url("assets/alfaslabone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alegreyaregular";
  src: url("assets/alegreya-variablefont_wght-webfont.woff2") format("woff2"), url("assets/alegreya-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=ouest.css.map */
