@media screen and (min-width: 1025px) {
      
.hide_{
      transform: translateX(-28rem);
}

.show_{
      transform: translateX(0rem);
      transition: 1.6s;
}

.hide_1{
      transform: translateY(6rem);
      opacity: 0;
}

.show_1{
      transform: translateY(0);
      transition: 1.6s;
      opacity: 1;
}

}