
@import "./../../settings.scss";
@media screen and (min-width: 1025px) {
    .Andasibe{
          position: relative;
          top: 29rem;
          left: 4vw;
          width: 50vw;
          height: 13rem;
          border-radius: 6.5px;
          background-color: rgb(233, 232, 232);
          z-index: 20;
          

           .legende-andasibe {
            margin-left: 0vw;
              

                   h1{
                      color: #ca0404;
                      font-family:'lumanosimoregular';
                      @include h(27px, 1rem, -11vw, 800, 50vw);
                   }

                   i{
                     font-size: 38.4px;
                     color: #ca0404;
                     margin-left: -19vw;
                     margin-top:1.6rem;
                   }
           }

           .desc_Andasibe{
            width: 45vw;
            position: relative;
            top: -0.5rem;
            font-size: 18.5px;
            left: 2.2vw;
           }

           img{
            @include image-relative(18rem, 33vw, 48.5vw, -16rem, 5px);
           }
    }

   .border1{
    @include border(20vw, 3px, $color-3, 71rem, 50vw);
   }
}