@media screen and (min-width: 280px) and (max-width: 763px) {
  #map{
    width: 86vw;
    position: absolute;
    left: 6vw;
    height: 27rem;
    border-radius: 15px;
    top: 364rem;
    z-index: 20;
    border: 2px solid;
}

.up{
  width: 42px;
  height: 42px;
  position: fixed;
  top: 88vh;
  z-index: 22;
  right: 3.8vw;
  }
 
  .header{
        position:fixed;
         top: 0;
         width: 99.9vw;
         left:0;
    
    }
    
    .logo {
      font-size: 27px;
      left: 17vw;
      top: 0.8cm;
    
         img{
           width: 48px;
           height: 48px;
           position: absolute;
           top: -0.5rem;
           margin-left: -3.5rem;
         }
    }
    
    .header_contain{
        @include div(0rem, 100vw, 0rem, 5.2rem, rgb(22, 98, 211));
        transition: 0.3s;
        
    
    
        ul{
       
        display: block;
        position:absolute;
        left: 35vw;
        top: -25rem;
        width: 65vw;
      
    
              li{
                margin-top: 22px;
                 a{
                      color: #241b1b;
                      font-size: 19px;
                      padding: -25px;
                      width: -5rem;
                      position: relative;
                      right: 19vw;
                      width: 70vw;
                    
                    
                 }
    
                 .a1{
                    background-color: antiquewhite;
                               }
    
              }
              .contact{
                border: 1.5px solid #113f70;
                border-radius: 8px;
                padding: 7px;
                font-size: 20.4px;
                margin-left: 0rem;
            }
            i{
              color: #000000;
          }
    }
    }
    
    .icone_menu i{
        position: relative;
        float: right;
        display: flex;
        top:1.3rem;
        right: 4vw;
        z-index: 6;
        font-size: 25px;
        border-radius: 30%;
    }
    
    .hideshow{
      height: 24.5rem;
    }
    
    .h2{
         transform: translateY(28rem);
         position: absolute;
         top: 2.6rem;
         transition: 0.06s;
    }
    // fin barre de navigation

    .nord_couverture{

        .couverture_nord{
            position: relative;
            top: 12rem;
            left: 0.4vw;
                    img{
                        width: 93.5vw;
                        height: 24rem;
                        border-radius: 5px;
                    }
    
    
            }
    
    
            .h_couverture{
                @include h(25.4px, 5rem, 7vw, 300, 85vw);
                font-family: 'yeseva_oneregular';
                color: $color-2;
                z-index: 20;
            }
    
            
    
            .detail{
                @include div(7rem, 83.6vw, 7.2vw, 42rem, rgba(0, 0, 0, 0.795));
                border-radius: 3px;
            }
    
            .description_nord{
                 @include p_left(4.4vw, 47.5rem, 19.4px);
                 width: 90.5vw;
            }
    
            .detail_date{
                   position: relative;
                   top: 9.8rem;
                   left: -39.9vw;
                   color:blue;
    
                   i{
                     font-size: 25px;
                   }
    
                    h3{
                           font-size: 20px;
                           margin-top: -1.4rem;
                           margin-left: 43vw;
                           width: 70vw;
                    }
            }
    
            .detail_trajet{
                position: relative;
                top: 10.64rem;
                left: -39.5vw;
                color:blue;
                i{
                    font-size: 25px;
                  }
    
                  h3{
                    font-size: 20px;
                    margin-top: -1.4rem;
                    margin-left: 47vw;
                    width: 70vw;
             }
         }
    
     }

     .Ankarafantsika{
        position: relative;
        top: 53rem;
        left: 4vw;
        width: 88vw;
        height: 21rem;
        border-radius: 6.5px;
        background-color: rgb(233, 232, 232);
        z-index: 20;
        
    
         .legende-ankrafantsika {
          margin-left: 0vw;
            
    
                 h1{
                    color: #ca0404;
                    font-family:'lumanosimoregular';
                    @include h(20px, 1.3rem, 22vw, 800, 50vw);
                 }
    
                 i{
                   font-size: 36.4px;
                   color: #ca0404;
                   margin-left: -27vw;
                   margin-top:1.6rem;
                 }
         }
    
         .desc_Ankarafantsika{
          width: 83.6vw;
          position: relative;
          top: -0.5rem;
          font-size: 18px;
          left: 2.2vw;
         }
    
         img{
          @include image-relative(18rem, 75vw, -0.7vw, 8rem, 5px);
         }
     }

     .Ankarana{
        position: relative;
        top: 88rem;
        left: 4vw;
        width: 88vw;
        height: 21rem;
        border-radius: 6.5px;
        background-color: rgb(233, 232, 232);
        z-index: 20;
        
    
         .legende-ankarana{
          margin-left: 0vw;
            
    
                 h1{
                    color: #ca0404;
                    font-family:'lumanosimoregular';
                    @include h(20px, 1.3rem, 19vw, 800, 50vw);
                 }
    
                 i{
                   font-size: 36.4px;
                   color: #ca0404;
                   margin-left: -22vw;
                   margin-top:1.6rem;
                 }
         }
    
         .desc_Ankarana{
          width: 83.6vw;
          position: relative;
          top: -0.5rem;
          font-size: 18px;
          left: 2.2vw;
         }
    
         img{
          @include image-relative(18rem, 75vw, -0.7vw, 8rem, 5px);
         }
     }

     .NosyKomba{
    position: relative;
    top: 123.5rem;
    left: 4vw;
    width: 88vw;
    height: 19.6rem;
    border-radius: 6.5px;
    background-color: rgb(233, 232, 232);
    z-index: 20;
    

     .legende-nosyKomba{
      margin-left: 0vw;
        

             h1{
                color: #ca0404;
                font-family:'lumanosimoregular';
                @include h(19px, 1.3rem, 19vw, 800, 70vw);
             }

             i{
               font-size: 36.4px;
               color: #ca0404;
               margin-left: -27vw;
               margin-top:1.6rem;
             }
     }

     .desc_NosyKomba{
      width: 83.6vw;
      position: relative;
      top: -0.5rem;
      font-size: 18px;
      left: 2.2vw;
     }

     img{
      @include image-relative(18rem, 75vw, -0.7vw, 8rem, 5px);
     }
     }

     .NosyIranja{
        position: relative;
        top: 159rem;
        left: 4vw;
        width: 88vw;
        height: 21.6rem;
        border-radius: 6.5px;
        background-color: rgb(233, 232, 232);
        z-index: 20;
        
    
         .legende-nosyIranja {
          margin-left: 0vw;
            
    
                 h1{
                    color: #ca0404;
                    font-family:'lumanosimoregular';
                    @include h(19px, 1.3rem, 19vw, 800, 70vw);
                 }
    
                 i{
                   font-size: 36.4px;
                   color: #ca0404;
                   margin-left: -27vw;
                   margin-top:1.6rem;
                 }
         }
    
         .desc_NosyIranja{
          width: 83.6vw;
          position: relative;
          top: -0.5rem;
          font-size: 18px;
          left: 2.2vw;
         }
    
         img{
          @include image-relative(18rem, 75vw, -0.7vw, 8rem, 5px);
         }
     }

     .NosyTanikely{
        position: relative;
        top: 195rem;
        left: 4vw;
        width: 88vw;
        height: 21.6rem;
        border-radius: 6.5px;
        background-color: rgb(233, 232, 232);
        z-index: 20;
        
    
         .legende-nosyTanikely {
          margin-left: 0vw;
            
    
                 h1{
                    color: #ca0404;
                    font-family:'lumanosimoregular';
                    @include h(19px, 1.3rem, 16vw, 800, 70vw);
                 }
    
                 i{
                   font-size: 36.4px;
                   color: #ca0404;
                   margin-left: -34vw;
                   margin-top:1.6rem;
                 }
         }
    
         .desc_NosyTanikely{
          width: 83.6vw;
          position: relative;
          top: -0.5rem;
          font-size: 18px;
          left: 2.2vw;
         }
    
         img{
          @include image-relative(18rem, 75vw, -0.7vw, 8rem, 5px);
         }
     }

     footer{
        @include div(65rem, 99.5vw, 0vw, 395rem, rgb(222, 216, 216));
  
             
        .logo{
             width: 150px;
             height: 70px;
             position: absolute;
             top: 3rem;
             left: 27vw;
        }
  
        .info{
            position: absolute;
            top: 15rem;
            left: 54vw;
       
                
            h1{
              @include h(25px, -4rem,-9rem,  500, 70vw);
              color: $color-1;
       }
  
            .phone{
                  position: absolute;
                  top: 0rem;
                  left: 0;
                     img{
                      width: 20px;
                      height: 20px;
                      position: absolute; 
                      left: -44vw;
                     }
  
                     p{
                       font-size: 18px;
                       position: relative;
                       left: -38vw;
                       top: -1rem;
                       width: 35vw;
                     }
            }
          }
  
            .email{
              position: absolute;
              top: 3.6rem;
              left: 0;
                 img{
                  width: 20px;
                  height: 20px;
                  position: absolute; 
                  left: -45vw;
                  
                 }
  
                 p{
                   font-size: 18px;
                   position: relative;
                   left: -36vw;
                   top: -1rem;
                   width: 35vw;
                 }
        }
  
        .circ{
               position: absolute;
               left: 3vw;
               top: 27.1rem;
               display: block;
          
                   h1{
                      @include h(25px, -4rem,-9rem,  500, 114vw);
                      color: $color-1;  
                   }
                    h3{
                      font-size: 19px;
                      position: relative;
                   top: -1.7rem;
                   margin-top: 2rem;
                      left: 9vw;
                    }
        }
  
        .raccourci{
          position: absolute;
          left: 47vw;
          top: 26.8rem;
          display: block;
              h1{
                 @include h(28px, -4rem,4vw,  500, 41vw);
                 color: $color-1;  
              }
               h3{
                 font-size: 19px;
                 position: relative;
                 top: -1.7rem;
                  margin-top: 2rem;
                 left: 6vw;
               }
   }
  
   .reference{
      position: absolute;
      left: 20vw;
      top: 44.8rem;
    
      h1{
          @include h(27px, -4rem,-16vw,  500, 90vw);
          color: $color-1;  
       }
  
       p{
           width: 69vw;
           font-size: 18px;
           position: absolute;
           left: -6vw;
       }
  
   }
  
   .border_{
  @include border(45%, 2px, $color-1, 53rem, 29vw);
   }
  
   .icones{
          position: absolute;
          top:61rem;
             display: flex;
             left: 7.3%;
             text-align: center;
  
             img{
                 width: 42px;
                 height: 42px;
                 border-radius: 50%;
                 margin-left: 1rem;
             }
   }
  
   .copright{
        font-size: 21px;
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
        top: 55rem;
        left: 5%;
        width: 90vw;
   }
      }
  
   

     .border_princ{
        @include border(3px, 250rem, $color-3, 92rem, 48vw);
   }
    
}