
.header {
    background-color: #073b02;
    position: fixed;
    z-index: 3;   
    width: 99.8vw;
    left: 0;
    height: 2.2cm;
    margin: 0;
    padding: 0;
    top: 0vh;
    right: 0cm;
    transition: 1s;

}

ul {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    float: right;
    right: 0rem;
    top: 0.3cm;
}

.header_contain{
    width:100%;
    height:10vh;
    /* background-color: #c79b0ae0;  */
    position:absolute;
    /* transform: translateX(-32cm); */
    right:-32rem;
    top:0.46cm;
    transition:0.5s;
}

li {
    margin: 16px;
}

.header_contain ul li a {
    position: relative;
    right:36rem;
    top: -20px;
    text-decoration: none;
    color: rgb(138, 117, 0);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header_contain ul li a #search{
    color:rgb(138, 117, 0);
}

.header_contain ul li a:hover {
    background-color: rgb(165, 128, 8);
    color: black;
    border-radius: 20px;
    padding: 3.5px;
}

#search{
    color: rgb(0, 0, 0);
}

header ul li .a1{
    border:0px solid;
    background-color:rgb(177, 100, 0);
    color:black;
    border-radius: 20px;
    padding:6px;
}
#search:hover{
color:black;
}

.logo {
    position: absolute;
    left: 1.6cm;
    font-size: 38px;
    top: 0.4cm;
    color: rgb(138, 117, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.logo span {
    color: rgb(177, 100, 0);
}

.icone_menu i{
    color:rgb(165, 128, 8);
    font-size:33px;
    position:fixed;
    opacity:0;
    right:4rem;
    top:1.5rem;
    cursor:pointer;
    border:2px solid rgb(138, 117, 0);
    padding:7px;
    border-radius: 50%;
}

.icone_menu i:hover{
    background-color: rgb(138, 117, 0); 
    color:black;

}

.border_vertical{
    position:absolute;
    top:21cm;
    border-left: 3.5px solid rgb(41, 109, 187);
   left:2.5cm;
    height:2cm;
   
}
.border_bottom{
    position:absolute;
    top:23cm;
    border-bottom: 3.5px solid rgb(41, 109, 187);
   left:2.5cm;
   width:1.4cm;
}
.border_vertical2{
    position:absolute;
    top:15.2cm;
    border-left: 3.5px solid rgb(41, 109, 187);
   right:2cm;
    height:2cm;
   
}
.border_bottom2{
    position:absolute;
    top:15.2cm;
    border-bottom: 3.5px solid rgb(41, 109, 187);
   right:2cm;
   width:1.4cm;
}

.logo{
    position:absolute;
    left:1.6cm;
    font-size:34px;
    font-family: Arial, Helvetica, sans-serif;
    top:0.4cm;
    color:rgb(138, 117, 0);
}

.logo span{
    color:rgb(177, 100, 0);
}

*{
    text-decoration: none;
    list-style: none;
}

.couverture_nord img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 81vh;
}

.legende_nord{
    position:absolute;
    top:6.3cm;
    left:8.1cm;
    font-size:52px;
    color:white;

}

.titre_nord{
    position:absolute;
    top:14cm;
    left:5.4cm;
    font-size:35px;
    text-indent:100px;
    color:black;
}

.description_nord{
    color:black;
    position:absolute;
    top:15.3cm;
    font-size:20px;
    left:4.7cm;
    text-indent:15px;
    width:26cm;
}

.legende-ankrafantsika{
    position:absolute;
    top:56.6rem;
    left:10cm;
    font-size: 40px;

}



.legende-ankrafantsika{
position:absolute;
top:57rem;
left:12.7cm;
font-size:36px; 
color:black;
}

.Ankarafantsika .introduction {
    width:18cm;
    position:absolute;
    top:64rem;
    left:0cm;
    height:17.3cm;
    border:0px solid black;
    background-color: rgb(41, 109, 187);
}

.Ankarafantsika .introduction span{
    font-size:20px;
    text-indent:2cm;
    width:12cm;
    height:12cm;
    position:absolute;
    top:3cm;
    left:2.5cm;
    color:rgb(0, 0, 0);
}



.image_ankarafantsika1 img{
    width:19cm;
    height:11.3cm;
    position:absolute;
    top:68rem;
    right:0cm;
   box-shadow: 4px 1px 9px;

 }

 .description_PARC{
    position:absolute;
    top:106.7rem;
    font-size: 20px;
    right:3cm;
    width:11.6cm;
 }

 .legende_lac{
    position:absolute;
    top:104rem;
    font-size:24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    right:7.6cm;
    color: rgb(41, 109, 187);
   

 }

 .image_lac img{
    position:absolute;
    top:103rem;
    font-size: 20px;
    left:0cm;
    width:19cm;
    height:15.3cm;
    right:0cm;
   box-shadow: 4px 1px 9px;
 }

 .description_espece{
    width:18cm;
    position:absolute;
    top:139.2rem;
    left:0cm;
    height:16.8cm;
    border:0px solid black;
    background-color: rgb(41, 109, 187);
 }

 .description_espece span{
    font-size:20px;
    text-indent:2cm;
    width:12cm;
    height:12cm;
    position:absolute;
    top:3cm;
    left:2.5cm;
    color:rgb(0, 0, 0);
 }

 #image_paysage{
    position:absolute;
    top:143rem;
    width:19cm;
    height:12cm;
    position:absolute;
    right:0;
    box-shadow: 4px 1px 9px;

 }

 #image_paysage img{
    width:19cm;
    height:12cm;
 }

 #image_espece{
    position:absolute;
    top:176rem;
    width:19cm;
    height:13cm;
    position:absolute;
    left:0;
    box-shadow: 4px 1px 9px;
 }

 #image_espece img{
    width:19cm;
    height:13cm;
 }

 .descr-espece{
    position:absolute;
    top:182rem;
    font-size: 20px;
    right:3cm;
    width:11.6cm;

 }

 .legende_Ankarana{
    position:absolute;
    top:216.6rem;
    left:14cm;
    font-size:46px; 
    color:black;
 }

 .description_tsingy span{
    position:absolute;
    top:2cm;
    font-size: 20px;
    left:1cm;
    color:black;
    width:12.7cm;
 }

 .description_tsingy{
position:absolute;
    top:225rem;
    left:0;
     width:18cm;
    height:18.8cm;
    border:0px solid black;
    background-color: rgb(0, 90, 194);
 }

 .image_tsingy img{
     width:20cm;
    height:15.6cm;
    position:absolute;
    top:226.6rem;
    right:0cm;
   box-shadow: 4px 1px 9px;
 }

 .legende_fauneFloreAnkarana{
 position:absolute;
    top:271rem;
    font-size: 20px;
    right:2cm;
    width:12.6cm;
 }

 #image_ff img{
    
        width:19cm;
        height:15.9cm;
     }
    
#image_ff{
        position:absolute;
        top:267rem;
        width:19cm;
        height:15.9cm;
        position:absolute;
        left:0;
        box-shadow: 4px 1px 9px;
     }

     .legende_Nosy_Be{
     position:absolute;
     top:313rem;
     left:12.6cm;
     font-size:46px; 
    color:black;
    }

    .description_nosyKomba{
        position:absolute;
        top:321.5rem;
        left:0;
         width:18cm;
        height:19.6cm;
        border:0px solid black;
        background-color: rgb(41, 109, 187);
    }

    .description_nosyKomba span{
        position:absolute;
        top:3cm;
        color:black;
        font-size: 20px;
        left:1cm;
        width:12cm;

    }

    .image_nosyKomba img{
        position:absolute;
        top:324.9rem;
        right:0;
        width:19cm;
        height:15.7cm;
       box-shadow: 4px 1px 9px;

    }

    .footer_up{
        width:100%;
        height:30vh;
        position:relative;
        box-shadow: 5px 8px 10px;
        top:-4.9cm;
        background-color: rgb(180, 179, 179);
    }
    
    .footer_up .input_coms{
         position:absolute;
         left:20rem;
         top:4rem;
          width:420px;
          height:60px;
          font-size: 20px;
          border:1px solid black;
          border-radius: 5px;
    }
    
    .submit_coms{
    position:absolute;
    top:4rem;
    left:49rem;
    font-size: 22px;
    border: 0 solid;
    border-radius: 4px;
    padding:13px;
    background-color: #bad63b;
    }
    
    .follow{
    position:absolute;
    top:1rem;
    left:39.5rem;
    }
    
    footer {
        background-color: rgba(0, 0, 0, 0.849);
        height:10cm;
        width: 100%;
        position: absolute;
        top: 516rem;
        right: 0px;
        left: 0;
    }
    
    .suivre {
        color: rgb(228, 233, 236);
        position: absolute;
        top: 1cm;
        left: 21.8cm;
        font-size:25px;
    }
    
    .facebook {
        position: absolute;
        left: 4.4cm;
        top: 2cm;
        color: rgb(236, 234, 224);
        font-size:21px;
    }
    
    .twitter {
        position: absolute;
        left: 5.9cm;
        top: 2cm;
        color: rgb(236, 234, 224);
        font-size:21px;
    }
    
    .sort {
    
        position: absolute;
        top: 52cm;
        left: 12.6cm;
    }
    
    #sort {
        width: 23px;
        height: 15px;
    }
    
    .instagram {
        color: rgb(228, 233, 236);
        position: absolute;
        top: 2cm;
        left: 6.9cm;
        font-size:21px;
    }
    
    .youtube {
        color: rgb(228, 233, 236);
        position: absolute;
        top: 2cm;
        left: 7.9cm;
        font-size:21px;
    }
    
    .contact {
        position: absolute;
        left: 12cm;
        color: white;
        top: 1cm;
        left: 14.8cm;
    }
    
    .contact_1 {
        position: absolute;
        left: 12cm;
        color: white;
        top: 1.6cm;
        left: 16cm;
        margin: 3px;
    }
    
    
    .footer-countain{
    position:absolute;
    left:40rem;
    top:-1rem;
    width:8cm;
    }
    
    .footer-countain i{
        font-size: 22px;
        margin: 5px;
    }
         .bar{
        position:absolute;
        display:block;
        right:-4cm;
        top:0.2cm;
        
    
    }
    


    
 
 


