@media screen and (min-width: 1024px) {
     
.couverture{
     position: absolute;
     top: 5rem;
     width: 100vw;
     left: 0;
     height: 36.7rem;
}
}

@media screen and (min-width: 280px) and (max-width: 763px) {
     .couverture{
          position: absolute;
          top: 5rem;
          width: 100vw;
          left: 0;
          height: 36.7rem;
     }
}